body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .text-box {
    animation: revealText 2s ease-out forwards;
    animation-delay: calc(0.8s * var(--index));
    opacity: 0;
  }
  
  .text-box:first-child {
    font-size: 7rem;
    animation-delay: 0s;
  }
  
  .text-box:nth-child(2) {
    font-size: 5.4rem;
  }
  
  .text-box:nth-child(3) {
    font-size: 3.92rem;
  }
  
  .text-box:nth-child(4) {
    font-size: 2.536rem;
  }
  
  .text-box:nth-child(5) {
    font-size: 11.152rem;
  }
  
  @keyframes revealText {
    0% {
      opacity: 0;
      transform: translateY(50%) scale(1.5);
    }
    50% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }