<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>поняли?</title>
    <link rel="stylesheet" href="assets/css/namek.css" />
  </head>
  <body>
    <div class="text-container">
      <div class="text-box" style="--index: 0">йдіть</div>
      <div class="text-box" style="--index: 1">нахуй я так</div>
      <div class="text-box" style="--index: 2">не вмію робити</div>
      <div class="text-box" style="--index: 3">а вітя</div>
      <div class="text-box" style="--index: 4">чорт єбаний</div>
    </div>
  </body>
</html>
